# Required
DATABASE_PASS=change-me

# Optional (defaults shown)
# DATABASE_HOST=database
# DATABASE_PORT=5432
# DATABASE_NAME=teslamate
# DATABASE_USER=teslamate
# PRICE_SOURCE_URL=https://suc-tracker.eu/data/europe.json
# PRICING_FAMILY=tesla
# MATCH_RADIUS_M=400
# LOOKBACK_DAYS=90
# OVERWRITE_EXISTING=false
# ALLOW_CROSS_TOU=false
# DRY_RUN=false
# UPDATE_INTERVAL_SECONDS=3600
# CACHE_DIR=/cache
# CACHE_TTL_SECONDS=43200
