DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=teslamate
DATABASE_USER=teslamate
DATABASE_PASS=change-me

PRICE_SOURCE_URL=https://suc-tracker.eu/data/europe.json
CACHE_DIR=/cache
CACHE_TTL_SECONDS=43200
PRICING_FAMILY=tesla

MATCH_RADIUS_M=400
LOOKBACK_DAYS=90
OVERWRITE_EXISTING=false
TZ=Europe/Berlin
ALLOW_CROSS_TOU=false
